<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    {% set prof = ['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог', 'врач', 'инженер по терраформированию', 'климатолог', 'специалист по радиационной защите', 'астрогеолог', 'гляциолог', 'инженер жизнеобеспечения', 'метеоролог', 'оператор марсохода', 'киберинженер', 'штурман']%}
    <h1>Миссия Колонизация Марса</h1>
    <h4>И на Марсе будут яблони цвести!</h4>
    {% if list == 'ol' %}
    {% for i in prof %}
    <ol>{{ loop.index }} - {{ i }}</ol>
    {% endfor %}

    {% else %}
    {% for i in prof %}
    <li>{{ i }}</li>
    {% endfor %}
    {% endif %}

</body>
</html>